<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Добавление музыки</h4>
                        </div>
                        <div class="card-body">
                            <form action="/add-music" method="post">
                                <div class="mb-3">
                                    <label for="music_name" class="form-label">Название трека</label>
                                    <input type="text" class="form-control" id="music_name" name="music_name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="singer_name" class="form-label">Исполнитель</label>
                                    <input type="text" class="form-control" id="singer_name" name="singer_name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="file" class="form-label">Файл</label>
                                    <input type="file" accept="audio/*" class="form-control" id="file" name="file" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Добавить</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
</div>

<script>
        console.log('Script loaded!');
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('x-error');
        if (error === 'Invalid credentials') {
          console.log('Invalid credentials!');
          alert('Invalid credentials! Redirecting to signin page');
        }
      </script>
</body>
</html>